.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #144ba4;
}

h1 {
  margin: 30px;
  font-family:"timesNewRoman";
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #cf911c;
}

p {
  font-size: 2rem;
  color: #20efaa;
  font-family: 'Calibri', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Calibri', cursive;

}
